<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div id="tasksPanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Tasks</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <app-task-add></app-task-add>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-task-list></app-task-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
